:root {
    --color-dark: #181F39; 
    --color-warning: #F0C745;
}
body{
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}
nav {
    background-color: var(--color-dark)
}

/* header */
header{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.content {
	margin:0px auto;
	text-align:center;
}
.content .logo {
    vertical-align:middle;
    width: 300px;
}
h1 {
    color: var(--color-warning);
    font-size: 45px;
    font-weight: 300;
}
h2 {
    color: var(--color-warning);
    font-size: 25px;
}
.click {
    color: var(--color-warning);
    text-decoration: none;
}

/* Informacion */

.content .foto {
    vertical-align:middle;
    width: 300px;
}



@media screen and (max-width: 760px) {
    /* header */
    h1 {
        font-size: 35px;
        text-align: center;
        line-height: 35px;
    }
    h2 {
        font-size: 25px;
        text-align: center;
    }
}


@media screen and (max-width: 400px) {
    /* header */
    .content img {
        width: 200px;
    }
    h1 {
        font-size: 30px;
        text-align: center;
        line-height: 30px;
    }
    h2 {
        font-size: 20px;
        text-align: center;
    }
}
